<% content_for :javascript do %>
<script type="text/javascript">
	$(function(){
    	setAutoComplete("location_user_id", "results", "/search/user/all.js?part=");
	});
</script>
<%end %>
<h1>New location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :house_num %><br />
    <%= f.text_field :house_num %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>